.brand img{
	height: 60px;
}
.predict-topBar{text-align: right; color: #4b4b4b;margin-top: 15px;}
.fixedBar{width: 100%; background-color: #ebebeb; position: fixed; bottom: 0; height: 60px;box-shadow: -1px -1px 1px #cfcfcf;}
.fixedBar > ul{list-style: none;	height: 100%;}
li.fixedBar-li{float: left;width: 33.3%; text-align: center;}
li.fixedBar-li a{color: #3c3c3c;}
li.fixedBar-li img{width: 35px;}
li.fixedBar-li span{margin: 0 10%;	width: 100%;}
li.current{background-color: #ddd;}

.carpark-description{width: 100%;text-align: right;}

.list-part{list-style: none; padding-top: 10px; padding-bottom: 10px;position: relative;margin: 0;overflow: hidden;}
.list-part li{height: 120px; border-top:1px solid #e0e0e0;border-bottom:1px solid #e0e0e0;}
.list-part-img{width: 30%px;position: relative;margin: 0;float: left;height: 100px; margin-top: 10px;}
.list-img{width: 110px;}
.list-part-detial{width: 60%;position: relative;margin: 0;float: left; color: #5c5c5c; height: 100px;}
.list-part-detial h4{padding-left: 10px;margin: 0; margin-top: 5px;}
.list-part-detial .detial{width: 50%;float: left; text-align: center; height: 100px;}
.list-part-detial .list-num{}
.list-part-detial .list-sub{font-size: 10px;}

.blackout {
	width:100%;
	height:100%; /* make sure you have set parents to a height of 100% too*/
	position: absolute;
	left:0; top:0;
	z-index:10; /*just to make sure its on top*/
	background:rgba(0,0,0,.5);
	background-image: url('../img/epark_logo_loading.png');
	background-repeat: no-repeat; 
	background-attachment: fixed;
	background-position: center; 
	display:none;
}













